<!-- <div #kursliste>
  <p *ngFor="let kurs of kurse">
    <a [routerLink]="['/kurs',kurs.id]">{{kurs.fullname}}</a>
  </p>
</div> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Kursübersicht
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let kurs of kurse">
        <mat-card [routerLink]="['/kurs',kurs.id]">
          <mat-card-header>
            <mat-card-title>
              {{kurs.fullname}}
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
